.profile-page {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 8px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #ced4da;
  border-radius: 10px;
}

.profile-details {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #e9ecef;
}

.review-info h3 {
  margin-top: 0;
  text-align: center;
}

.review-info p {
  text-align: center;
  margin-bottom: 5px;
}
