.responsiveWidth {
  width: 85%;
}

.shop-card-bg {
  background-color: #ffffff; /* White background */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.salon-title {
  border-color: #585858; /* Hot pink border for the salon title */
}

.bg-hotpink {
  background-color: #e29521; /* Hot pink background */
}

.shop-card {
  background-color: #ffffff; /* White card background */
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #4e4c45;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shop-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(44, 38, 41, 0.5);
}

.card-info-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(54, 48, 51, 0.8), rgba(255, 105, 180, 0));
  color: white;
  padding: 10px;
}


.card-info-bg h6,
.card-info-bg p {
  margin: 0;
  text-overflow: ellipsis; /* Adds '...' when text overflows */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflowed text */
}

.card-info-bg h6 {
  
  color: #855917; /* White text for shop names */
  font-weight: bold;
  font-size: 1rem; /* Adjust font size as needed */
}

.card-info-bg p {
  font-size: 0.875rem; /* Adjust font size as needed */
}

.shop-card-wrapper {
  padding: 10px;
}

.shop-card-link {
  text-decoration: none;
  color: inherit;
}

.shop-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  box-shadow: 0 2px 6px rgba(90, 80, 85, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  text-align: center;
  padding-bottom: 50px; /* ensures space for info at the bottom */
}

.shop-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(255, 105, 180, 0.4);
}

.shop-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px; /* control the vertical space */
  overflow: hidden;
  padding: 10px;
  background-color: #fff; /* optional: background for contrast */
}

.shop-logo {
  width: 80%;
  height: 100px;         /* scale proportionally */
  aspect-ratio: 1 / 1;  /* ensures it stays square */
  object-fit: cover;    /* fills the circle without distortion */
  border-radius: 50%;
  /* border: 3px solid #4e454a; */
}


.card-info-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(219, 118, 3, 0.8), transparent);
  color: #fff;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.shop-name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.owner-name {
  font-size: 0.875rem;
  margin: 0;
  color: #fff;
}



@media (max-width: 700px) {
  .responsiveWidth {
    width: 95%;
    height: 40%;
  }
}
