body {
  /* background-color: #f3e8ff !important; */
  background-color: #302229 !important;
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

.my-today {
  color: coral !important;
  font-weight: bold !important;
}

.scheduleTime li {
  list-style: none;
  background-color: #9336b4;
  cursor: pointer;
}
.scheduleTime li:hover {
  background-color: #a04fbd;
}

.overflow-auto {
  scrollbar-width: none;
}
.overflow-auto::-webkit-scrollbar {
  display: none;
}

.responsiveSearchHome {
  width: 75%;
}
.aboutRating {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 700px) {
  .responsiveSearchHome {
    width: 90%;
  }
  .aboutRating {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.responsiveTimeSchedule {
  display: block;
}
#mobileSchedlueMenu {
  display: none;
}

@media (max-width: 700px) {
  .responsiveTimeSchedule {
    display: none;
  }
  .responsiveImage {
    width: 100% !important;
    height: 200px !important;
  }
  .h-sm-100 {
    height: auto !important;
  }
  .serviceImg {
    height: 50px !important;
  }
  #mobileSchedlueMenu {
    display: block;
  }
  #sidebarMenuName {
    display: none !important;
  }
  .responsiveMenu {
    display: block !important;
  }
  #sideDiv {
    display: none !important;
  }
}
.responsiveMenu {
  display: none;
}
#sideDiv {
  display: block;
}

li {
  list-style: none;
}
#cancelbtn:hover {
  background-color: darkred !important;
}

.rdp-tfoot {
  color: orange !important;
}

.vh-85 {
  height: 85vh;
}

.w-20 {
  width: 20vw;
}
/* a span:last-child {
  display: none;
} */
#sidebarMenuName {
  display: inline;
}
#imgUpdate:hover {
  cursor: pointer;
  color: orange;
}
.card-body {
  padding: 10px !important;
}

.text-decoration-custom {
  text-decoration: 3px solid orange underline !important;
}
.responsiveImage {
  width: 70%;
}
.h-sm-100 {
  height: 100%;
}
.serviceImg {
  height: auto;
}
.servicebtn:hover {
  cursor: pointer;
}
#SideBtn:hover {
  cursor: pointer;
  border-radius: 10px;
  transition: all ease 0.3s;
  background-color: darkorange !important;
}
#SideBtn {
  border-radius: 5px;
}
#userEdit {
  font-size: 15px;
  cursor: pointer;
  transition: all 0.6s ease;
}
#userEdit:hover {
  background-color: green !important;
}
